body {
    margin: 0;
    min-height: 95vh;
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd);
    width: 100%;
    display: block;
    place-items: center;

    font-family: system-ui, sans-serif;
}

.button-header
{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    z-index: 999;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.header-button
{
  z-index: 1000;

  background: #1f6feb;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 10px 24px rgba(0,0,0,0.18);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
  z-index: 998;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.overlay-higher {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
  z-index: 1000;
}

.overlay-higher.active {
  opacity: 1;
  pointer-events: auto;
}